<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="..\..\App.private.config">

    <!-- Replace with your own private key -->
    <add key="KP.GmailClient.PrivateKey" value="-----BEGIN PRIVATE KEY-----
Pd0ze9mis3yH1MKDWLbaPd0ze9mis3yH1MKDWLbaPd0ze9mis3yH1MKDWLbaDWLb
EcMQGwCWf6Zbg8JPH6n0EcMQGwCWf6Zbg8JPH6n0EcMQGwCWf6Zbg8JPH6n0PH6n
Oiwe6U9OgjvMZnswV659Oiwe6U9OgjvMZnswV659Oiwe6U9OgjvMZnswV659wV65
26E3pr8rhE0jqeRUhCCZ26E3pr8rhE0jqeRUhCCZ26E3pr8rhE0jqeRUhCCZUhCC
HrE3WIpOJjRxti12QuFVHrE3WIpOJjRxti12QuFVHrE3WIpOJjRxti12QuFV2QuF
xVYieYIrErDpRnLR4IA7xVYieYIrErDpRnLR4IA7xVYieYIrErDpRnLR4IA7R4IA
mSMc8dMgbkCLRXwHkgkemSMc8dMgbkCLRXwHkgkemSMc8dMgbkCLRXwHkgkeHkgk
OQpvJ2ueV1XD9ghb8KfQOQpvJ2ueV1XD9ghb8KfQOQpvJ2ueV1XD9ghb8KfQb8Kf
vypHhmv8kHKhd7ywxdJ7vypHhmv8kHKhd7ywxdJ7vypHhmv8kHKhd7ywxdJ7wxdJ
8AI1RESX7vT89EbvIvZX8AI1RESX7vT89EbvIvZX8AI1RESX7vT89EbvIvZXvIvZ
aj63CfiiG7PcfDfZmaAoaj63CfiiG7PcfDfZmaAoaj63CfiiG7PcfDfZmaAoZmaA
xZx0rZ4JGZP2QODGYRqHxZx0rZ4JGZP2QODGYRqHxZx0rZ4JGZP2QODGYRqHGYRq
UcsBNp10UfqYf5nhO1dbUcsBNp10UfqYf5nhO1dbUcsBNp10UfqYf5nhO1dbhO1d
graB0Z20dN4IqqZpXMtxgraB0Z20dN4IqqZpXMtxgraB0Z20dN4IqqZpXMtxpXMt
od5VyApehPQz1fnEwKuHod5VyApehPQz1fnEwKuHod5VyApehPQz1fnEwKuHEwKu
wl5oFkXkELOtid0VKDiPwl5oFkXkELOtid0VKDiPwl5oFkXkELOtid0VKDiPVKDi
0HOI5EpjaBYveOfk3Qik0HOI5EpjaBYveOfk3Qik0HOI5EpjaBYveOfk3Qikk3Qi
b22M2WtJ1braK0aEjQUyb22M2WtJ1braK0aEjQUyb22M2WtJ1braK0aEjQUyEjQU
Rg4L3nSnVD77k11hedhZRg4L3nSnVD77k11hedhZRg4L3nSnVD77k11hedhZhedh
QlgAg0rZ1SdNXPc8mSEwQlgAg0rZ1SdNXPc8mSEwQlgAg0rZ1SdNXPc8mSEw8mSE
KpMVZp8N1BDWssAKHeliKpMVZp8N1BDWssAKHeliKpMVZp8N1BDWssAKHeliKHel
nouy0n8oLmNa7hjzGPe2nouy0n8oLmNa7hjzGPe2nouy0n8oLmNa7hjzGPe2zGPe
KmH37U9RlDSGQMajdDTbKmH37U9RlDSGQMajdDTbKmH37U9RlDSGQMajdDTbjdDT
AwRYOsme2U5nItnM7GzxAwRYOsme2U5nItnM7GzxAwRYOsme2U5nItnM7GzxM7Gz
rzlMWPFos6oMiRaInxNirzlMWPFos6oMiRaInxNirzlMWPFos6oMiRaInxNiInxN
mSK8KQsxC31qMFZ6iR0CKmH=
-----END PRIVATE KEY-----
" />
    <add key="KP.GmailClient.TokenUri" value="https://accounts.google.com/o/oauth2/token" />
    <add key="KP.GmailClient.ClientEmail" value="your-project-name@your-project-name.iam.gserviceaccount.com" />
    <add key="KP.GmailClient.EmailAddress" value="youremail@gmail.com" />
  </appSettings>
</configuration>
