<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="..\..\App.private.config">

    <!-- PKCS#8 private key, Base64 encoded -->
    <!--<add key="KP_GmailClient_PrivateKey" value="" />-->
    <add key="KP_GmailClient_TokenUri" value="https://accounts.google.com/o/oauth2/token" />
    <!--<add key="KP_GmailClient_ClientEmail" value="your-project-name@your-project-name.iam.gserviceaccount.com" />-->
    <!--<add key="KP_GmailClient_EmailAddress" value="youremail@gmail.com" />-->
  </appSettings>
</configuration>
