<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="useConfig" value="true"/>
    <add key="ClientId" value="951944467745-94lt30e309jer39hhr1ub4b2j425u3fk.apps.googleusercontent.com"/>
    <add key="ClientSecret" value="-BDcIUaLnbLBpxDSy4qrD9eN"/>
    <add key="EmailAddress" value="me"/>
    <add key="RefreshToken" value="1/itU9d6VYvPuUSyXrvSOyIcnMyuIUE-qcq_bRHEIweL0"/>
  </appSettings>
</configuration>
