<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Add to read this config instead of environment variables -->
    <!-- <add key="UseConfig" /> -->

    <add key="PrivateKey" value="[from JSON file]" />
    <add key="TokenUri" value="[from JSON file]" />
    <add key="ClientEmail" value="[from JSON file]" />
    <add key="EmailAddress" value="ImpersonationEmailAddress@gmail.com" />
  </appSettings>
</configuration>
